<a href="https://colab.research.google.com/github/jjomathew98/sqlite_database_operations/blob/main/sqlite_database_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Data Exploration and Analysis
### Loading Packages - Pandas

In [43]:
import pandas as pd

# 1.1 Import Pricing Transparency Datasets

In [44]:
df1 = pd.read_json('https://raw.githubusercontent.com/hantswilliams/HHA_504_2023/main/WK3/data/nyp/133957095_NewYorkPresbyterianHospital_standardcharges.json')
df2 = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/HHA_504_2023/main/WK3/data/stonybrook/stonybrook.csv')

# 1.2 Conduct a Basic Exploratory Analysis
## Dataset #1

In [45]:
df1.head()
df1.info()
df1.describe()
df1['1199'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6193 entries, 0 to 6192
Data columns (total 47 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Code (CPT/DRG)                      6193 non-null   object
 1   Description                         6193 non-null   object
 2   Rev Code                            6193 non-null   object
 3   Inpatient/Outpatient                6193 non-null   object
 4   Gross Charges                       6193 non-null   float64
 5   Discounted Cash Price               6193 non-null   float64
 6   Aetna                               6193 non-null   object
 7   Cigna                               6193 non-null   object
 8   Empire Blue Cross Blue Shield       6193 non-null   object
 9   Emblem Health                       6193 non-null   object
 10  United Health Group                 6193 non-null   object
 11  Aetna Medicare                      6193 non-null   object
 12  AgeWell Medicare                    6193 non-null   object
 13  Emblem Medicare                     6193 non-null   object
 14  Empire Medicare                     6193 non-null   object
 15  Fidelis Medicare                    6193 non-null   object
 16  Healthfirst Medicare                6193 non-null   object
 17  UHC Community Plan/United Medicare  6193 non-null   object
 18  VNS Medicare                        6193 non-null   object
 19  WellCare Medicare                   6193 non-null   object
 20  1199                                6193 non-null   object
 21  Affinity Molina Essential           6193 non-null   object
 22  Affinity Molina Medicaid/CHP        6193 non-null   object
 23  Amida Care Medicaid                 6193 non-null   object
 24  Emblem Medicaid/CHP                 6193 non-null   object
 25  Empire Healthplus Essential         6193 non-null   object
 26  Empire Healthplus Exchange          6193 non-null   object
 27  Empire Healthplus Medicaid/CHP      6193 non-null   object
 28  Fidelis Essential/Exchange          6193 non-null   object
 29  Fidelis Medicaid/CHP                6193 non-null   object
 30  Healthfirst Essential/Exchange      6193 non-null   object
 31  Healthfirst Medicaid/CHP            6193 non-null   object
 32  MVP Medicaid/CHP                    6193 non-null   object
 33  MVP Essential                       6193 non-null   object
 34  United Community Plan Essential     6193 non-null   object
 35  United Community Plan Medicaid      6193 non-null   object
 36  VNS Medicaid                        6193 non-null   object
 37  Consumer Health Network             6193 non-null   object
 38  Devon                               6193 non-null   object
 39  Equian                              6193 non-null   object
 40  First Health                        6193 non-null   object
 41  Magnacare                           6193 non-null   object
 42  Multiplan/Beechstreet/PHCS          6193 non-null   object
 43  QHM                                 6193 non-null   object
 44  Worldwide                           6193 non-null   object
 45  Minimum Negotiated Charge           5912 non-null   float64
 46  Maximum Negotiated Charge           5912 non-null   float64
dtypes: float64(4), object(43)
memory usage: 2.2+ MB

2107                           375
2412                           343
1564                           236
Included in Service Package    235
2965                           189
                              ...
601                              1
202.5                            1
197                              1
389                              1
17670.3696                       1
Name: 1199, Length: 2230, dtype: int64

# 1.2 Conduct a Basic Exploratory Analysis
## Dataset #2

In [46]:
df2.head()
df2.info()
df2.describe()
df2['1199-Commercial other'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7710 entries, 0 to 7709
Data columns (total 57 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Code                                          7710 non-null   object
 1   Description                                   7710 non-null   object
 2   Type                                          6927 non-null   object
 3   Package/Line_Level                            6927 non-null   object
 4   Gross charge                                  7710 non-null   float64
 5   Discounted cash price                         7710 non-null   float64
 6   De-identified min contracted rate             6254 non-null   float64
 7   De-identified max contracted rate             6254 non-null   float64
 8   Derived contracted rate                       6254 non-null   float64
 9   1199-Commercial other                         1014 non-null   float64
 10  Aetna-Medicare Advantage HMO                  1106 non-null   float64
 11  Aetna-Commercial HMO/POS                      1827 non-null   float64
 12  Aetna-Commercial PPO/Open Access              1612 non-null   float64
 13  Aetna-Commercial other                        128 non-null    float64
 14  Empire Health-Commercial other                3060 non-null   float64
 15  Empire Health-Commercial PPO/Open Access      2402 non-null   float64
 16  BlueCross BlueShield-Commercial other         1254 non-null   float64
 17  Beacon Health-Commercial other                3 non-null      float64
 18  Carelon Health-Commercial other               3 non-null      float64
 19  Cigna-Commercial PPO/Open Access              1966 non-null   float64
 20  Cigna-Commercial other                        43 non-null     float64
 21  Cigna-Commercial HMO/POS                      6 non-null      float64
 22  EH Facet-Commercial other                     0 non-null      float64
 23  EmblemHealth-Commercial PPO/Open Access       746 non-null    float64
 24  EmblemHealth-Commercial other                 2070 non-null   float64
 25  EmblemHealth-Commercial HMO/POS               1386 non-null   float64
 26  EmblemHealth-Medicaid HMO                     0 non-null      float64
 27  EmblemHealth-Medicare Advantage HMO           0 non-null      float64
 28  Empire Health-Commercial HMO/POS              1679 non-null   float64
 29  Empire Health-Medicare Advantage HMO          1074 non-null   float64
 30  Empire Health-Medicaid HMO                    2 non-null      float64
 31  Evernorth-Commercial other                    8 non-null      float64
 32  Fidelis-Commercial other                      920 non-null    float64
 33  Fidelis-Medicare Advantage HMO                268 non-null    float64
 34  Fidelis-Medicaid HMO                          2357 non-null   float64
 35  GHI-Commercial other                          0 non-null      float64
 36  HealthFirst-Commercial other                  2076 non-null   float64
 37  HealthFirst-Medicare Advantage HMO            102 non-null    float64
 38  HealthFirst-Medicaid HMO                      0 non-null      float64
 39  HealthPlus HP-Medicaid HMO                    790 non-null    float64
 40  HealthPlus HP-Commercial other                297 non-null    float64
 41  HealthPlus HP-Medicare Advantage HMO          705 non-null    float64
 42  Humana-Commercial other                       33 non-null     float64
 43  Humana-Commercial HMO/POS                     247 non-null    float64
 44  Humana-Commercial PPO/Open Access             474 non-null    float64
 45  Meritain Health-Commercial other              450 non-null    float64
 46  Molina-Commercial other                       747 non-null    float64
 47  Optum-Commercial other                        943 non-null    float64
 48  Oxford-Commercial other                       1777 non-null   float64
 49  Oxford-Commercial HMO/POS                     0 non-null      float64
 50  Tricare-Commercial other                      434 non-null    float64
 51  United Healthcare-Commercial other            2357 non-null   float64
 52  United Healthcare-Medicare Advantage HMO      624 non-null    float64
 53  United Healthcare-Commercial HMO/POS          133 non-null    float64
 54  United Healthcare-Medicaid HMO                2065 non-null   float64
 55  United Healthcare-Commercial PPO/Open Access  357 non-null    float64
 56  Veteran Family-Commercial other               46 non-null     float64
dtypes: float64(53), object(4)
memory usage: 3.4+ MB

4822.00     104
2411.00      36
2153.00      36
4592.00      27
3923.00      19
           ...
221.63        1
14.40         1
185.40        1
157.20        1
42565.43      1
Name: 1199-Commercial other, Length: 568, dtype: int64

# 2. SQLite Database Operations

In [47]:
import sqlite3

## 2.1 Create SQLite Database

In [48]:
conn = sqlite3.connect('health.db')

## 2.2 Manual Table Creation and Data Insertion

In [49]:
cursor = conn.cursor()

In [50]:
# Create a table
create_table_query = '''
CREATE TABLE IF NOT EXISTS hospital_data (
    id INTEGER PRIMARY KEY,
    numerical_col1 REAL,
    numerical_col2 REAL,
    categorical_col1 TEXT,
    categorical_col2 TEXT
);
'''
cursor.execute(create_table_query)

# Insert data into the table
insert_data_query = '''
INSERT INTO hospital_data (numerical_col1, numerical_col2, categorical_col1, categorical_col2)
VALUES (?, ?, ?, ?);
'''
cursor.execute(insert_data_query, (1.0, 2.0, 'Category1', 'Category2'))
cursor.execute(insert_data_query, (3.0, 4.0, 'Category3', 'Category4'))

# Commit changes and close the connection
conn.commit()
conn.close()

# 2.3 Automatic Table Creation (df1)

In [52]:
conn = sqlite3.connect('health.db')
df1.to_sql('hospital_data_auto', conn, if_exists='replace', index=False)
conn.close()

# Dive Deeper with SQL (Custom Select Query)

In [53]:
conn = sqlite3.connect('health.db')
query = '''
SELECT categorical_col1, AVG(numerical_col1) AS avg_num_col1
FROM hospital_data
GROUP BY categorical_col1;
'''
result = pd.read_sql_query(query, conn)
conn.close()

# Print the result or perform further analysis
print(result)

  categorical_col1  avg_num_col1
0        Category1           1.0
1        Category3           3.0